@import '../../sass/main.scss';

.container-view {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: $background-gradient-blue;

  &__wrapper {
    margin: 0 rem(50);
    height: 100%;
  }
}

.logo-main-register {
  padding-top: rem(30);

  @include responsive(tab-port) {
    display: none;
  }

  @include responsive(tab-land) {
    display: none;
  }

  @include responsive(big-desktop) {
    display: none;
  }
}

.title-wrapper {
  display: flex;
  justify-content: center;
  margin-left: rem(-50);

  &__heading {
    &-wrapper {
      margin-left: rem(10);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-primary {
      color: $color-primary;
    }

    &-sub {
      color: $color-black;
      font-weight: 300;
    }
  }
}

.form {
  margin-top: rem(50);
}

.button-item {
  position: absolute;
  bottom: rem(50);
  right: rem(60);
}
