// font import
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300;400;700&display=swap');

body {
  font-family: 'Yantramanav', sans-serif;
  font-weight: 400;
  color: $color-black;
}

.info {
  border-radius: rem(10);
  background-color: $color-grey-4;
  padding: rem(10) rem(15);
}
