@import '../../sass/main.scss';

.button {
  margin: 0;
  padding: rem(15) rem(35);
  border: rem(1) solid $color-grey-1;
  border-radius: rem(100);
  background-color: $color-white;
  color: $color-grey-1;
  font-weight: 700;
  display: flex;
  align-items: center;
  position: relative;

  &--next-continue {
    background-color: $color-grey-6;
    color: $color-grey-3;
    border: none;
  }
}

.icon {
  margin-left: rem(15);
}
